body {
  background-image: url("../img/duel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#initial-draw-winner {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  color: var(--primary-color);
  margin-left: var(--large-size);
  margin-right: var(--large-size);
  margin-bottom: var(--small-size);
}