body {
  background-image: url("../img/duel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#initial-draw-winner {
  display: flex;
  justify-content: center;
  background-color: var(--senary-color);
  color: var(--primary-color);
  padding: var(--small-size);
  font-size: var(--small-size);
}

#duel-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--small-size) var(--large-size);
}