body {
  background-image: url("../img/homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main #div-bots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 10rem;
}

main #div-bots h3 {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  margin-left: var(--large-size);
  margin-right: var(--large-size);
  margin-bottom: var(--small-size);
}

main #div-bots input {
  display: flex;
  justify-content: center;
  font-family: "Audiowide", serif;
  background-color: var(--quinary-color);
  color: var(--primary-color);
  padding: var(--small-size);
  margin-bottom: var(--small-size);
  margin-left: var(--large-size);
  margin-right: var(--large-size);
}
