body {
  background-image: url("../img/winner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#winner-name {
  font-size: var(--large-size);
  color: var(--quaternary-color);
  text-shadow: 9px 9px 9px var(--senary-color);
}

#btn-play-again {
  margin-top: var(--large-size);
}
